In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/clean/df_cleaned.csv")

In [3]:
df = df.drop('Unnamed: 0',axis=1)

In [4]:
df.nunique()

patient_nbr                 996
race                          4
gender                        2
age                          10
weight                        8
time_in_hospital             14
num_lab_procedures           89
num_procedures                7
num_medications              46
number_outpatient            15
number_emergency              8
number_inpatient             10
number_diagnoses              7
metformin                     4
repaglinide                   3
nateglinide                   2
chlorpropamide                1
glimepiride                   4
acetohexamide                 1
glipizide                     4
glyburide                     4
tolbutamide                   1
pioglitazone                  4
rosiglitazone                 2
acarbose                      2
miglitol                      1
troglitazone                  1
tolazamide                    1
examide                       1
citoglipton                   1
insulin                       4
glyburide-metformin           1
glipizide-metformin           1
glimepiride-pioglitazone      1
metformin-rosiglitazone       1
metformin-pioglitazone        1
change                        2
diabetesMed                   2
readmitted                    3
dtype: int64

In [5]:
columns_to_drop = []
for col in df.columns: 
    if df[col].nunique()==1:
        columns_to_drop.append(col)
        print(f"{col}value : {df[col].unique()}")

#these columns have only one value and provides no info, so dropping them all 

df = df.drop(columns_to_drop,axis=1)

chlorpropamidevalue : ['no']
acetohexamidevalue : ['no']
tolbutamidevalue : ['no']
miglitolvalue : ['no']
troglitazonevalue : ['no']
tolazamidevalue : ['no']
examidevalue : ['no']
citogliptonvalue : ['no']
glyburide-metforminvalue : ['no']
glipizide-metforminvalue : ['no']
glimepiride-pioglitazonevalue : ['no']
metformin-rosiglitazonevalue : ['no']
metformin-pioglitazonevalue : ['no']

In [6]:
#checking for race distrubution

pd.crosstab(df['race'],df['readmitted'])

#data is from heavly caucasian patients, dropping the race column as it does not add much value 

df = df.drop('race',axis=1)

In [7]:
pd.crosstab(df['age'],df['readmitted'])
df['age'].value_counts(ascending=False)

age
[70-80)     305
[60-70)     255
[50-60)     177
[80-90)     171
[40-50)      68
[30-40)      25
[90-100)     22
[20-30)      18
[0-10)        1
[10-20)       1
Name: count, dtype: int64

In [8]:
(df['age'].value_counts()/df['age'].shape[0]*100).round(2)

age
[70-80)     29.24
[60-70)     24.45
[50-60)     16.97
[80-90)     16.40
[40-50)      6.52
[30-40)      2.40
[90-100)     2.11
[20-30)      1.73
[0-10)       0.10
[10-20)      0.10
Name: count, dtype: float64

In [9]:
# total percentage of people from age 0 to 39 and btw 90-100 is less than 7%
#combining with the destrubution of data for these age groups, decided to drop as 
#there's not much value 
pd.crosstab(df['age'],df['readmitted'])

readmitted  <30  >30   no
age
[0-10)        0    0    1
[10-20)       0    1    0
[20-30)       2    9    7
[30-40)       3   10   12
[40-50)       6   26   36
[50-60)      20   88   69
[60-70)      26  110  119
[70-80)      30  153  122
[80-90)      12   76   83
[90-100)      1    5   16

In [10]:
age_categories_to_drop = ['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[90-100)']

df = df[~df['age'].isin(age_categories_to_drop)]

In [11]:
pd.crosstab(df['weight'],df['age'])

age        [40-50)  [50-60)  [60-70)  [70-80)  [80-90)
weight
[0-25)           0        0        1        3        1
[100-125)       17       55       73       57       12
[125-150)        9       13       11        6        2
[150-175)        2        6        6        2        0
[175-200)        2        3        1        0        0
[25-50)          4        3        3        7        9
[50-75)          6       41       56       78       70
[75-100)        28       56      104      152       77

In [12]:
(df['weight'].value_counts()/df['weight'].shape[0]*100).round(2)

weight
[75-100)     42.73
[50-75)      25.72
[100-125)    21.93
[125-150)     4.20
[25-50)       2.66
[150-175)     1.64
[175-200)     0.61
[0-25)        0.51
Name: count, dtype: float64

In [13]:
weight_categories_to_drop = ['[125-150)','[25-50)','[150-175)','[175-200)','[0-25)']
df = df[~df['weight'].isin(weight_categories_to_drop)]

In [14]:
#for the same reason, I am dropping these weight rows as there's not much data/ 
# the analysis will focus on people age btw 40-90 and weight btw 50-125

In [15]:
df.nunique()

patient_nbr           841
gender                  2
age                     5
weight                  3
time_in_hospital       14
num_lab_procedures     86
num_procedures          7
num_medications        46
number_outpatient      15
number_emergency        8
number_inpatient        9
number_diagnoses        7
metformin               4
repaglinide             3
nateglinide             2
glimepiride             4
glipizide               4
glyburide               4
pioglitazone            4
rosiglitazone           2
acarbose                2
insulin                 4
change                  2
diabetesMed             2
readmitted              3
dtype: int64

In [16]:
#visualisations are being done with Tableau

In [17]:
df.to_csv(path_or_buf="../data/clean/df_after_EDA.csv")